.HourlyItemFirst {
    //@extend: 1vw;
    padding-right: 1vw;
}

.HourlyItem {
    padding-left: 1vw;
    padding-right: 1vw;
    border-left: 2px solid white;
}

.HourlyLabel {
    margin-left: 0.25vw;
    font-size: 1.25rem;
}

.HourlyImage {
    margin-top: 0.65vh;
    margin-left: 0.5vw;
    height: 3.5vh;
}

.HourlyTemp{
    display: flex;
    flex-direction: row;

    .label{
        margin-left: 0.5vw;
        font-size: 1.25rem;
    }

    .subLabel{
        margin-top: 0.5vh;
        font-size: 0.75rem;
    }
}