
@import '../../../../styles/variables/colors';

.HomeFlagsOnDay {
    margin-top: 1vh;
    margin-right: 1vw;

    .map{
        width: 20vw;
        height: 40vh;
        margin-right: 1vw;
    }

    .details {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .half{
            width: calc(100%/2);
        }
    }
}

.FeaturedTerritoryHeader {
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    padding-left: 1vh;

    .image {
        height: 3vh;
        width: 3vh;
        object-fit: cover;
        overflow: hidden;
        opacity:0.4;
        border-radius: 5px;

        margin-top: 0.5vh;
        margin-right: 0.5vw;
    }
  
    .label {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.FeaturedTerritoryHeader:hover {
    opacity: 0.5;
    background-color: $gray;
    cursor: pointer;
    border-radius: 5px;
}
