
.HomeFeaturedPlace {
    margin-top: 1vh;
    margin-right: 1vw;
    border: solid 1px red;
    height: 55vh;

    .map{
        width: 20vw;
        height: 40vh;
        margin-right: 1vw;
    }
}
