.details-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: solid 1px;
    border-bottom-color: rgba(255,130,255,0.3);
}

.details-header-image {
    height: 40px;
}

.details-header-label {
    margin-left: 1vw;
    font-size: 1.75rem;
}
