.TilePlaceGroup {

    .details {
        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: 1.25rem;
    }

    .value {
        font-size: 1rem;
        margin-top: 1vh;
    }
}
