.RouteLegDistance {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    margin-left: 1vw;
    width: 100%;
}

.DistanceLabel {
    padding-top: 1vh;
    margin-left: 1vw;

    .label {
        font-size: 4rem;
        margin-top: 0.1vh;
        margin-right: 1vw;
    }
}
