.content-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: solid 1px;
    border-bottom-color: rgba(255,130,255,0.3);
}

.content-header-image {
    height: 30px;
}

.content-header-label {
    margin-left: 1vw;
    font-size: 1.5rem;
}
