
.ContinentPieChart {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    padding-right: 1vw;
    height: 100%;
    width: 100%;
    
    .chart {
        margin-top: 1vh;
        margin-bottom: 1vh;
        height: 300px;
    }
}
