

.DetailsContinent {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    padding-right: 1vw;
    width: 100%;

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.DetailsItem {
    width: 50%;
    padding-top: 1vh;
    padding-right: 1vw;
    padding-bottom: 1vh;

    .label {
        font-size: 1rem;
        font-weight: 500;
        opacity: 0.5;
    }

    .value {
        font-size: 1.25rem;
    }
}

