.Subdivisions {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    padding-right: 1vw;

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .third {
        width: calc(100%/3);
    }

    .half {
        width: calc(100%/2);
    }
}
