.Territories {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    padding-right: 1vw;
    width: 100%;
    height: 70vh;
    max-height: 100%;
    overflow-y:auto;

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
