.DashboardPlace {
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    padding-top: 1vh;
    width: 100%;
    height: inherit;
}

.DashboardPlaceRow {
    display: flex;
    flex-direction: row;
}

.DashboardPlaceLeftPane {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
}

.DashboardPlaceRightPane {
    width: calc((100%/3)*2);
}