
.PlaceWeather {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    //padding-right: 1vw;
    width: 100%;
}

.DailyWeather {
    display: flex;
    flex-direction: row;
    padding-top: 1vh;

    .dailyItemFirst {
        padding-left: 1vw;
        padding-right: 1vw;

        .label {
            margin-left: 0.25vw;
            font-size: 1.25rem;
            font-weight: 700;
        }
    }

    .dailyItem {
        padding-left: 1vw;
        padding-right: 1vw;
        border-left: 1px solid white;

        .label {
            margin-left: 0.25vw;
            font-size: 1.25rem;
        }
    }

    .lowHigh{
        display: flex;
        flex-direction: row;

        .image {
            //margin-top: 0.65vh;
            //margin-left: 0.25vw;
            height: 3vh;
        }

        .lowHighLabel {
            //margin-left: 0.5vw;
            font-size: 1.25rem;
        }
    }

    .current{
        display: flex;
        flex-direction: row;

        .currentImage {
            margin-top: 0.65vh;
            margin-left: 0.5vw;
            height: 6vh;
        }

        .currentLabel {
            //margin-left: 0.5vw;
            font-size: 2.5rem;
        }

        .currentSubLabel {
            margin-top: 0.5vh;
            font-size: 1.5rem;
        }
    }

}

.HourlyWeather {
    display: flex;
    flex-direction: row;
    padding-top: 2vh;

    .hourlyItemFirst {
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .hourlyItem {
        padding-left: 1vw;
        padding-right: 1vw;
        border-left: 1px solid white;
    }

    .label {
        margin-left: 0.25vw;
        font-size: 1.25rem;
    }

    .image {
        margin-top: 0.65vh;
        margin-left: 0.5vw;
        height: 3.5vh;
    }

    .hourlyTemp{
        display: flex;
        flex-direction: row;

        .label{
            margin-left: 0.5vw;
            font-size: 1.25rem;
        }

        .subLabel{
            margin-top: 0.5vh;
            font-size: 0.75rem;
        }
    }
}
