.Content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1vh;
    margin-left: 2vw;
}

.ContentMain {
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    height: 80vh;
}

.ContentDashboard {
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    padding-top: 1vh;
    width: 100%;
    // height: inherit;
    // justify-content: top;

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // height: inherit;
        //max-height: 100%;
        //overflow-y:auto;
        //line-height: 10vh;
        
    }

    .third {
        width: calc(100%/3);
    }

    .half {
        width: calc(100%/2);
    }

    .two-thirds {
        width: calc((100%/3)*2);
    }
}
