@import '../../../../styles/variables/colors';

.FlagTile {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    .details {
        display: flex;
        flex-direction: column;
    }

    .left {
        margin-left: auto;
    }

    .image {
        height: 2.5vh;
        width: 2.5vh;
        object-fit: cover;
        overflow: hidden;
        //opacity:0.4;
        border-radius: 5px;

        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .title {
        font-size: 1.25rem;
        margin-top: 5px;
    }

    .subtitle {
        font-size: 0.75rem;
        opacity: 0.5;
    }

    .value {
        font-size: 1rem;
        margin-top: 1vh;
    }
}

.FlagTile:hover {
    opacity: 0.5;
    background-color: $gray;
    cursor: pointer;
}
