.TileFlagx{

    .detailsx {
        display: flex;
        flex-direction: column;
    }

    .titlex {
        font-size: 1.25rem;
    }

    .subtitlex {
        font-size: 0.75rem;
        opacity: 0.5;
    }

    .valuex {
        font-size: 1rem;
        margin-top: 1vh;
    }
}
