@import '../../../../styles/variables/colors';

.TerritoryTypeLink {
    padding-left:0.25vw;
    margin-right: 0.5vw;
    display: flex;
    flex-direction: row;
    width: fit-content;
    border-radius: 5px;

    .image {
        height: 2.5vh;
        width: 2.5vh;
        margin-top: 0.4vh;
        margin-right: 0.5vw;
    }

    .title {
        margin-top: 0.4vh;
        font-size: 1.25rem;
    }

    .arrow {
        height: 2.5vh;
        width: 2.5vh;
        //opacity:0.7;
        margin-top: 0.4vh;
        margin-left: 0.5vw;
    }
}

.TerritoryTypeLink:hover {
    opacity: 0.5;
    background-color: $gray;
    cursor: pointer;
}
