
@import '../../../../styles/variables/colors';

.TerritoryTypeTile {
    padding: 1vh;
    display: flex;
    flex-direction: row;

    .left {
        margin-left: auto;
    }

    .image {
        height: 25px;
        width: 25px;
        //margin-top: 10px;
        //margin-right: 10px;
    }

    .details {
        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: 1.25rem;
        margin-left: 10px;
        //margin-top: 0.75vh;
    }

    .value {
        font-size: 1.25rem;
        //margin-top: 1vh;
    }
}

.TerritoryTypeTile:hover {
    opacity: 0.5;
    background-color: $gray;
    cursor: pointer;
}
