@import '../../../../styles/variables/colors';

.DashboardHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: solid 1px $off-white;

    .image {
        height: 5vh;
    }

    .label {
        margin-left: 1vw;
        font-size: 2rem;
    }

    .leftlabel {
        margin-left: auto;
        margin-right: 1vw;
        font-size: 2rem;
    }
}
