
.TerritoryMap {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    padding-right: 1vw;
    width: 100%;
    height: 100%;

    .chart {
        margin-top: 1vh;
        width: 100%;

        path {
            //stroke-width: 1; /* control the countries borders width */
            //stroke:#282c34; /* choose a color for the border */
            stroke: darkslategray; /* choose a color for the border */
        }
    }
}
